.App {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
    background-color: #0D1117;
    align-items: center;
    overflow-x: hidden;
}