.video_page {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 50vh;
}

.video_menu {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.video_titlebox {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.video_title {
    width: 90vw;
    color: white;
    word-break: break-all;
}

.player-wrapper {
    margin: auto;
}

.react-player {
    margin: auto;
}

input[type=range] {
    -webkit-appearance: none;
    appearance: none;
    max-width: 300px;
    width: 80vw;
    height: 7px;
    border-radius: 4px;
    background: #161B22;
    cursor: pointer;
    margin: 10px;
}

input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: white;
}

.control_box {
    margin: 10px;
    border-width: 1px;
    border-color: white;
    border-radius: 5px;
    border-style: solid;
}

.control_list {
    display: flex;
    flex-direction: row;
    padding: 0;
    margin: 0;
}

.control_line {
    display: flex;
    border-width: 0px;
    border-left-width: 1px;
    border-color: white;
    border-radius: 0px;
    border-style: solid;
}

.control_line:first-child {
    border-left-width: 0px;
}

.control_link {
    display: flex;
    text-decoration-line: none;
}

.control_text {
    color: white;
    font-size: 14px;
    list-style: none;
    margin: 0 auto;
    text-align: center;
    padding: 10px 0;
    width: 33vw;
    max-width: 130px;
}

@media (min-width:768px) {
    .video_titlebox {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .video_menu {
        display: flex;
        align-items: center;
    }

    .video_title {
        width: auto;
        padding:20px;
    }

    .control_box {
        margin-left: 3vw;
    }
}